body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    border-radius: 5%;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

input[type="submit"]:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
}